:root {
  /* Font variables */
  font-family: "roca", sans-serif;

  --font-thin: 100;
  --font-regular: 400;
  --font-bold: 700;

  --font-h1: 4rem;
  --font-h2: 2.7rem;
  --font-h3: 2.2rem;
  --font-h4: 1.7rem;
  --font-p: 1.3rem;

  /* Color variables */

  --clr-red: #f7756b;
  --clr-yellow: #fbc673;
  --clr-black: #000;
  --clr-grey: #4c4c4c;
  --clr-white: #fff;

  --box-shadow: rgba(0, 0, 0, 0.25);
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

/* Generel button styling */

button {
  outline: none;
  border: none;
  text-align: center;
}

button:active {
  scale: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

body {
  min-height: 100vh;

  background: rgb(247, 117, 107);
  background: linear-gradient(
    225deg,
    rgba(247, 117, 107, 1) 0%,
    rgba(251, 198, 115, 1) 70%
  );
  background-repeat: no-repeat;
}

/* Red Call-to-action button - For generel use */

.cta_red {
  background-color: var(--clr-red);
  border-radius: 10px;
  padding: 0.25rem 2.3rem;

  color: var(--clr-white);
  font-size: var(--font-p);

  box-shadow: 1px 4px 4px var(--box-shadow);
}

.cta_red:active {
  scale: 1.2;
}

h1 {
  font-size: var(--font-h1);
  font-weight: var(--font-bold);
}

h2 {
  font-size: var(--font-h2);
  font-weight: var(--font-bold);
}

h3 {
  font-size: var(--font-h3);
}

h4 {
  font-size: var(--font-h4);
  font-weight: var(--font-thin);
}

p {
  font-size: var(--font-p);
  font-weight: var(--font-thin);
}

/* -----------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------- 
-------------------------------------------------------------------------------------------------------------------- */

/* .cls-1 {
  fill: none;
  stroke: #231f20;
  stroke-miterlimit: 10;
} */

/* --------------------------------- SETTINGS ----------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------- 
-------------------------------------------------------------------------------------------------------------------- */

.settings-front {
  text-align: center;
}

.settings-front h1 {
  padding-top: 100px;
  font-size: 2rem;
}

.settings-front h2 {
  font-size: 2rem;
  padding: 20px 0 20px 0;
}

/* Centrere hele menu-items container */
.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menu-personal,
.menu-notifications,
.menu-privacy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 90%;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.menu-privacy {
  margin-bottom: 2rem;
}

.icon,
.arrow {
  width: 25px;
  height: 25 px;
}

.text {
  flex: 1;
  font-size: 16px;
  color: #333;
  text-align: left;
  padding-left: 10px;
  margin-top: 3px;
}

.cta_settings {
  color: white;
  background-color: #f7756b;
  padding: 5px 20px;
  border-radius: 10px;
  text-decoration: underline;
  font-weight: var(--font-thin);
}

/* --------------------------------- SETTINGS - PERSONAL ----------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------- 
-------------------------------------------------------------------------------------------------------------------- */

.name-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 20px auto;
}

.left-section {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.label {
  font-size: 14px;
  align-items: left;
}

.name {
  font-size: 14px;
  font-weight: var(--font-thin);
}

.right-section {
  display: grid;
}

.arrow-personal {
  width: 4px;
  height: 5px;
}

/* --------------------------------- SETTINGS - PERSONAL - NAME ----------------------------------------------------
-------------------------------------------------------------------------------------------------------------------- 
-------------------------------------------------------------------------------------------------------------------- */

.settings-front h3 {
  font-size: 1rem;
  font-weight: var(--font-thin);
}

.name-input {
  font-weight: var(--font-thin);
  background-color: white;
  text-align: left;
  padding: 15px 20px;
  border-radius: 10px;
  width: 80%;
  margin: 20px auto;
}

.line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #4c4c4c;
  top: 26.9%;
  align-items: center;
}

.save-name {
  text-decoration: none;
  font-weight: var(--font-regular);
  padding: 5px 20px;
  background-color: #f7756b;
  color: white;
  border-radius: 10px;
}

/* --------------------------------- SETTINGS - NOTIFICATIONS----------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------- 
-------------------------------------------------------------------------------------------------------------------- */
.label-notifications {
  font-size: 1.2rem;
}
.toogle {
  margin-bottom: 3rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #48ae4d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #48ae4d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

/* --------------------------------- SETTINGS - PRIVACY ----------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------- 
-------------------------------------------------------------------------------------------------------------------- */
.label-privacy {
  font-weight: var(--font-thin);
}

.additional-text {
  font-weight: var(--font-regular);
  text-align: left;
  padding-left: 45px;
}

/* --------------------------------- SETTINGS - DELETE -------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------- 
-------------------------------------------------------------------------------------------------------------------- */
.settings-delete {
  margin-top: 4rem;
}

.delete-text {
  margin: 2rem;
}

.delete-sad {
  margin-bottom: 1rem;
}

.delete-sure {
  font-weight: var(--font-bold);
  margin-top: 2rem;
}

.delete-navigate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.cta_delete {
  background-color: #eaeaea;
  color: #000;
}

/* --------------------------------- SETTINGS - DELETE - CONFIRM ---------------------------------------------------
-------------------------------------------------------------------------------------------------------------------- 
-------------------------------------------------------------------------------------------------------------------- */
.confirm-delete {
  margin: 1.5rem;
}
.confirm-delete h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.confirm-delete p {
  font-size: 1rem;
}

.confirm-delete-text {
  margin-bottom: 30px;
}

.confirm-img {
  margin: 40px 0 40px 0;
}

.confirm-text p {
  font-size: 0.5rem;
}

.confirm-thank {
  font-weight: var(--font-bold);
  margin-top: 20px;
}

/* --------------------------------- ERROR 404 ---------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------- 
-------------------------------------------------------------------------------------------------------------------- */

.settings-front-error {
  text-align: center;
  margin-top: 10rem;
}

.error-not-found {
  font-size: 2rem;
  margin: 1rem;
}

.error-text {
  margin: 2rem 2rem 3rem 2rem;
}

.error-panic {
  font-weight: var(--font-bold);
}

.error-navigate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.cta_error {
  padding: 10px 15px;
}
